<div class="container">
  <!-- Input Pencarian -->
  <div class="mb-3 d-flex bg-white p-1 w-75 rounded" style="border: 1px solid rgb(0, 0, 0)">
    <input type="text" id="searchInput" class="form-control shadow-none border-0 p-0 m-0" placeholder="Cari akredetasi..." onkeyup="filterArticles()" />
    <i class="bi bi-search fw-bold text-dark"></i>
  </div>

  <% if(!akredetasi){ %>

  <div class="alert alert-warning">Maaf akredetasi belum ada.</div>
  <% } else{ %>

  <section id="galery">
    <% function convertToPreviewLink(driveLink) { if (driveLink.includes('/view')) { return driveLink.replace('/view', '/preview'); } else { return "Link tidak valid. Pastikan link mengandung '/view'."; } } %>
    <div class="row" data-doc="<%= JSON.stringify(akredetasi) %>" id="data">
      <% akredetasi.forEach(dat => {%>
      <div class="col-6 m-0 p-2 d-flex justify-content-start article-card">
        <div class="card border-1 border-brown pointer galery-card" style="min-height: 140px">
          <div class="position-relative">
            <% let link = convertToPreviewLink(dat.link) %>
            <iframe src="<%= link %>" class="card-img-top" style="object-fit: cover; height: 150px"></iframe>
            <div class="overlay-solid"></div>
          </div>
          <div class="card-body m-0 p-0 ps-2 pe-2">
            <div class="text-2 text-center">
              <div class="d-flex justify-content-center"><img src="../../images/drive.png" style="width: 30px; height: 30px" alt="logo g drive" /><i class="bi bi-filetype-pdf fs-5 me-2 text-danger"></i></div>
              <p><a class="text-b" target="_blank" href="<%= dat.link  %>">preview..!</a></p>
            </div>
            <p class="text-b fw-bold m-0 p-0 ms-1 mt-1"><%= dat.category %></p>
            <hr style="padding: 0; margin: 0" />
            <p class="text-b m-0 p-0 ms-1"><%=dat.title %></p>
            <p><a class="text-b m-0 p-0 ms-1 mb-1" target="_blank" href="/akredetasi/akr/<%=dat.category %>">Lihat selengkap nya ...</a></p>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </section>

  <% } %>
  <!-- Pesan ketika tidak ada data -->
  <div id="noDataMessage" class="alert alert-warning" style="display: none">Maaf foto yang anda cari tidak ada.</div>
</div>

<script>
  function filterArticles() {
    const input = document.getElementById('searchInput').value.toLowerCase();
    const dataGalery = document.getElementById('data');
    const foto = dataGalery.getAttribute('data-doc');
    const articles = JSON.parse(foto); // Parsing data-doc menjadi objek
    const filteredArticles = articles.filter((dat) => dat.title.toLowerCase().includes(input)); // Filter berdasarkan title

    // Mengupdate konten di dalam elemen dengan ID 'data'
    const dataContainer = document.getElementById('data');
    dataContainer.innerHTML = ''; // Kosongkan konten sebelumnya

    // Jika ada artikel yang cocok, tambahkan ke konten
    filteredArticles.forEach((dat) => {
      const articleHTML = `
            <div class="col-6 m-0 p-2 d-flex justify-content-start article-card">
              <div class="card border-1 border-brown pointer galery-card" >
                <div class="position-relative">
                   <iframe src="${dat.link}" class="card-img-top" style="object-fit: cover; height: 150px"></iframe>
              <div class="overlay-solid"></div>
                </div>
                <div class="card-body m-0 p-0 ps-2 pe-2">
                   <h6 class="card-title fw-bold mt-2 text-dark"><a href="/akredetasi/akr/${dat.category}">Lihat selengkap nya ...</a></h6>
                  <div class="text text-center">
                <p class="text-b">${dat.title}</p>
                <div class="d-flex">
                  <img src="../../images/drive.png" style="width: 37px; height: 37px" alt="logo g drive" /><i class="bi bi-filetype-pdf fs-4 me-2 text-danger"></i>
                  <p><a class="text-b" target="_blank" href="${dat.link}">link</a></p>
                </div>
              </div>  
               </div>
              </div>
            </div>
          `;
      dataContainer.innerHTML += articleHTML; // Tambahkan artikel yang cocok ke konten
    });

    // Menampilkan pesan jika tidak ada data yang cocok
    const noDataMessage = document.getElementById('noDataMessage');
    if (filteredArticles.length === 0) {
      noDataMessage.style.display = 'block';
    } else {
      noDataMessage.style.display = 'none';
    }
  }
</script>
