<div class="container">
  <h1>Edit Landing Page</h1>

  <% if (!landing) { %>
  <p class="alert alert-warning">Landing data belum ada</p>
  <% } else { %>
  <form id="editForm" class="contin" enctype="multipart/form-data">
    <label for="title">Judul:</label>
    <input type="text" id="title" name="title" value="<%= landing.title %>" required />

    <label class="mt-1" for="about">Tentang:</label>
    <textarea id="about" name="about" required><%= landing.about %></textarea>

    <label class="mt-1" for="description">Description:</label>
    <textarea id="description" name="description" required><%= landing.description %></textarea>

    <h2>Hero Section</h2>

    <label for="heroImage">Upload Gambar:</label>
    <input type="file" id="heroImage" name="heroImage" />
    <img src="<%= landing.heroSection.image.url %>" alt="Gambar Hero" style="width: 70px; height: 70px" />

    <label for="heroImageAlt">Teks Alt Gambar:</label>
    <input type="text" id="heroImageAlt" name="heroImageAlt" value="<%= landing.heroSection.image.alt %>" required />

    <label for="ctaButtonDescription">Description Tombol CTA:</label>
    <input type="text" id="ctaButtonDescription" name="ctaButtonDescription" value="<%= landing.heroSection.ctaButton.description %>" required />

    <label for="ctaButtonText">Teks Tombol CTA:</label>
    <input type="text" id="ctaButtonText" name="ctaButtonText" value="<%= landing.heroSection.ctaButton.text %>" required />

    <label for="ctaButtonLink">Link Tombol CTA:</label>
    <input type="text" id="ctaButtonLink" name="ctaButtonLink" value="<%= landing.heroSection.ctaButton.link %>" required />

    <h2>Social Media</h2>

    <label for="facebookLink">Link Facebook:</label>
    <input type="text" id="facebookLink" name="socialMedia[facebook][link]" value="<%= landing.socialMedia.facebook.link %>" required />

    <label for="instagramLink">Link Instagram:</label>
    <input type="text" id="instagramLink" name="socialMedia[instagram][link]" value="<%= landing.socialMedia.instagram.link %>" required />

    <h2>Footer</h2>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="<%= landing.footer.contact.email %>" required />

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" value="<%= landing.footer.contact.phone %>" required />

    <label for="address">Address:</label>
    <input type="text" id="address" name="address" value="<%= landing.footer.contact.address %>" required />

    <div id="responseMessage" class="alert m-0"></div>
    <button class="btn btn-success mb-4" type="button" id="submitBtn">Edit Landing Page</button>
  </form>
  <% } %>
</div>

<script>
  document.getElementById('submitBtn').addEventListener('click', async () => {
    const form = document.getElementById('editForm');

    const landingId = '<%= landing_id %>';
    const formData = new FormData(form);

    // Validasi sederhana
    let isValid = true;
    formData.forEach((value, key) => {
      if (!value) {
        isValid = false;
        alert(`Field ${key} tidak boleh kosong`);
      }
    });

    if (!isValid) return;

    try {
      const response = await fetch(`/landing/edit/${landingId}`, {
        method: 'POST',
        body: formData,
      });

      const result = await response.json();

      // Menampilkan pesan berdasarkan hasil
      const responseMessage = document.getElementById('responseMessage');
      responseMessage.classList.remove('alert-success', 'alert-danger'); // Menghapus kelas sebelumnya
      if (result.message.status === 'success') {
        responseMessage.classList.add('alert-success');
        responseMessage.innerText = result.message.pesan;
      } else {
        responseMessage.classList.add('alert-danger');
        responseMessage.innerText = result.message.pesan;
      }
    } catch (error) {
      console.error('Error:', error);
      alert('Terjadi kesalahan saat mengirim data. Silakan coba lagi.');
    }
  });
</script>
