<div class="container">
  <h1>Edit Documentation</h1>
  <% if (message) { %> <% if (message.status === 'error') { %>
  <div id="responseMessage" style="color: rgb(244, 77, 77)"><%= message.pesan %></div>
  <% } else if (message.status === 'success') { %>
  <div id="responseMessage" style="color: rgb(77, 244, 77)"><%= message.pesan %></div>
  <% } %> <% } %>
  <form action="/doc/edit/<%= doc._id %>" class="contin" method="post" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= doc.title %>" required />

    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="<%= doc.description %>" required />

    <label for="image">Image:</label>
    <input type="file" id="image" name="image" />
    <p>Current Image: <img src="<%= doc.imageUrl %>" alt="Current Image" style="max-width: 200px" /></p>

    <button class="btn btn-success mt-3 mb-3" type="submit">Update Documentation</button>

    <a class="mt-1" href="/dashboard">Back to Dashboard</a>
  </form>
</div>
